.text200 {
  position: relative;
  line-height: 110%;
}
.frame388 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame386,
.frame387 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame386 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.frame-icon14 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame389,
.setting2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.setting2 {
  height: 48px;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  cursor: pointer;
}
.frame389 {
  align-self: stretch;
}
.text201 {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.menu-012 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text202 {
  flex: 1;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 100%;
  font-family: var(--body-xs);
  color: var(--coolgray-90);
  text-align: left;
}
.menu-022 {
  border: 0;
  background-color: transparent;
  border-left: 2px solid var(--coolgray-10);
}
.menu-022,
.menu-032,
.menu-042 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.menu-042 {
  background-color: var(--coolgray-10);
}
.frame385,
.frame390 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame390 {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  font-size: var(--button-m-size);
  color: var(--coolgray-90);
}
.frame385 {
  background-color: var(--default-white);
  border-right: 1px solid var(--coolgray-20);
  border-left: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 256px;
  height: 1024px;
  padding: var(--padding-5xl) var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.text205 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text206 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
}
.frame394,
.label-012 {
  justify-content: center;
}
.frame394 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label-012 {
  align-self: stretch;
  padding: var(--padding-base) 0;
}
.label-012,
.label-042{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: var(--color-black);
}


.label-042{
  box-sizing: border-box;
  height: 48px;
  padding: var(--padding-base) 0;
  justify-content: center;
}

.frame392,
.frame393,
.label-042 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame393 {
  width: 1136px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame392 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-20);
  justify-content: space-between;
  font-size: var(--button-m-size);
}
.frame402,
.frame404 {
  display: flex;
  justify-content: center;
}
.frame402 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--heading-6-size);
}
.frame404 {
  flex-direction: row;
  padding: var(--padding-xs) 0 0;
  align-items: center;
}
.text214 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 140%;
  color: var(--coolgray-60);
}
.frame405 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame403 {
  background-color: var(--coolgray-10);
}
.frame403,
.frame409 {
  border-top: 3px solid var(--primary-90);
  box-sizing: border-box;
  width: 445px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text219,
.text220 {
  align-self: stretch;
  position: relative;
}
.text219 {
  line-height: 110%;
  font-weight: 500;
}
.text220 {
  font-size: var(--body-xs-size);
  line-height: 140%;
}
.frame401,
.frame412,
.frame421 {
  display: flex;
  align-items: flex-start;
}
.frame412 {
  border-top: 3px solid var(--coolgray-30);
  box-sizing: border-box;
  width: 445px;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--coolgray-40);
}
.frame401,
.frame421 {
  flex-direction: column;
}
.frame401 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  padding: var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.frame421 {
  width: 348px;
  justify-content: flex-start;
}
.p4 {
  margin: 0;
}
.text224 {
  align-self: stretch;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 140%;
}
.frame420 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-base) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.instance-icon13 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 0;
}
.frame423 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.instance-icon14 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.text226 {
  position: relative;
  line-height: 140%;
}
.instance4,
.instance5 {
  flex-direction: row;
  align-items: center;
}
.instance5 {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 24px;
  border-radius: var(--br-xs);
  background-color: var(--default-alert);
  display: none;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  justify-content: center;
  z-index: 3;
  text-align: center;
  font-size: var(--body-xs-size);
  color: var(--default-white);
}
.instance4 {
  flex: 1;
  height: 48px;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.frame418,
.frame419,
.frame422,
.instance4 {
  display: flex;
  justify-content: flex-start;
}
.frame422 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  align-items: flex-start;
  cursor: pointer;
  font-size: var(--button-m-size);
  color: var(--primary-60);
}
.frame418,
.frame419 {
  flex-direction: column;
}
.frame419 {
  flex: 1;
  width: 603px;
  align-items: flex-start;
}
.frame418 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  height: 452px;
  padding: var(--padding-base);
  align-items: center;
  font-size: var(--heading-5-size);
}
.frame400,
.frame425 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame400 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--body-s-size);
}
.frame425 {
  flex-direction: column;
  justify-content: center;
}
.text228 {
  position: relative;
  line-height: 110%;
  font-weight: 500;
}
.frame428,
.frame429 {
  align-self: stretch;
  display: flex;
}
.frame429 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.frame428 {
  flex: 1;
  background-color: var(--coolgray-10);
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame431,
.frame435 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
}
.frame431 {
  display: flex;
  justify-content: flex-start;
}
.frame435 {
  width: 100px;
  box-sizing: border-box;
}
.frame427,
.frame435,
.frame453,
.frame454 {
  display: flex;
  justify-content: flex-start;
}
.frame427 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
}
.frame453,
.frame454 {
  flex-direction: column;
  align-items: flex-start;
}
.frame453 {
  flex-direction: row;
  align-items: center;
}
.frame451,
.frame452 {
  align-self: stretch;
  display: flex;
}
.frame452 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.frame451 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-smi);
  color: var(--coolgray-90);
}
.text241 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.frame456 {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: center;
}
.frame455,
.frame456,
.frame476,
.frame478 {
  align-self: stretch;
  display: flex;
}
.frame455 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame476,
.frame478 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame476 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--coolgray-90);
}
.text287 {
  position: relative;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  width: 104px;
}
.frame424,
.frame426,
.frame554 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame554 {
  width: 88px;
  align-items: flex-start;
}
.frame424,
.frame426 {
  align-self: stretch;
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
}
.frame426 {
  overflow: hidden;
  align-items: flex-start;
  font-size: var(--body-s-size);
  color: var(--coolgray-100);
  width: 1100px;
}
.frame424 {
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--heading-6-size);
  width: 1109px;
}
.application-information4,
.frame391 {
  height: 1024px;
  display: flex;
  align-items: flex-start;
}
.frame391 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--heading-2-size);
  color: var(--coolgray-90);
}
.application-information4 {
  position: relative;
  background-color: var(--coolgray-10);
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--coolgray-60);
  font-family: var(--body-xs);
}
/* 테이블 전체 스타일 조정 */
#dic {
  width: 100%; /* Make the table fill its container */
  border-collapse: collapse;
  border: 1px solid #ccc;
}

/* 테이블 헤더 스타일 조정 */
.tabulator-col {
  background-color: var(--coolgray-10);
  font-weight: bold;
}

/* 테이블 셀 스타일 조정 */
.tabulator-row {
  background-color: #ffffff;
}

/* 홀수 행 배경색 변경 */
.tabulator-row:nth-child(odd) {
  background-color: #f5f5f5;
}

/* 선택된 행 스타일 변경 */
.tabulator-row.tabulator-selected {
  background-color: #c3d5e4;
}
 