.text559 {
  position: relative;
  line-height: 110%;
}
.frame1043 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame1041,
.frame1042 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1041 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.frame-icon51 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame1044,
.setting5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.setting5 {
  height: 48px;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  cursor: pointer;
}
.frame1044 {
  align-self: stretch;
}
.text560 {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.menu-015 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.text561 {
  flex: 1;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 100%;
  font-family: var(--body-xs);
  color: var(--coolgray-90);
  text-align: left;
}
.menu-025,
.menu-045 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.menu-025 {
  border: 0;
  background-color: transparent;
  border-left: 2px solid var(--coolgray-10);
}
.menu-045 {
  background-color: var(--coolgray-10);
}
.frame1040,
.frame1045 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame1045 {
  align-self: stretch;
  height: 870px;
  justify-content: flex-start;
  font-size: var(--button-m-size);
  color: var(--coolgray-90);
}
.frame1040 {
  background-color: var(--default-white);
  border-right: 1px solid var(--coolgray-20);
  border-left: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 256px;
  padding: var(--padding-5xl) var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.text564 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text565 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
}
.frame1049 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-015,
.label-025 {
  padding: var(--padding-base) 0;
  justify-content: center;
}
.label-015 {
  align-self: stretch;
  border-bottom: 2px solid var(--primary-90);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-90);
}
.label-025 {
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
}
.frame1047,
.frame1048,
.label-025 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame1048 {
  width: 1136px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame1047 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-20);
  justify-content: space-between;
  font-size: var(--button-m-size);
}
.frame1057,
.frame1059 {
  display: flex;
  justify-content: center;
}
.frame1057 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--heading-6-size);
}
.frame1059 {
  flex-direction: row;
  padding: var(--padding-xs) 0 0;
  align-items: center;
}
.text573 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 140%;
  color: var(--coolgray-60);
}
.frame1060 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: flex-start;
  justify-content: flex-start;
}


.text578,
.text579 {
  align-self: stretch;
  position: relative;
}
.text578 {
  line-height: 110%;
  font-weight: 500;
}
.text579 {
  font-size: var(--body-xs-size);
  line-height: 140%;
}
.frame1056,
.frame1067,
.frame1058,
.frame1064,
.frame1076 {
  display: flex;
  align-items: flex-start;
}
.frame1058,
.frame1064,
.frame1067 {
  border-top: 3px solid var(--coolgray-30);
  box-sizing: border-box;
  width: 445px;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--coolgray-40);
}
.frame1056,
.frame1076 {
  flex-direction: column;
}
.frame1056 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  padding: var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.frame1076 {
  width: 348px;
  justify-content: flex-start;
}
.p12 {
  margin: 0;
}
.text583 {
  align-self: stretch;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 140%;
}
.frame1075 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-base) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.instance-icon29 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 0;
}
.frame1078 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.instance-icon30 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.text585 {
  position: relative;
  line-height: 140%;
}
.instance10,
.instance11 {
  flex-direction: row;
  align-items: center;
}
.instance11 {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 24px;
  border-radius: var(--br-xs);
  background-color: var(--default-alert);
  display: none;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  justify-content: center;
  z-index: 3;
  text-align: center;
  font-size: var(--body-xs-size);
  color: var(--default-white);
}
.instance10 {
  flex: 1;
  height: 48px;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.frame1073,
.frame1074,
.frame1077,
.instance10 {
  display: flex;
  justify-content: flex-start;
}
.frame1077 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  align-items: flex-start;
  cursor: pointer;
  font-size: var(--button-m-size);
  color: var(--primary-60);
}
.frame1073,
.frame1074 {
  flex-direction: column;
}
.frame1074 {
  flex: 1;
  width: 603px;
  align-items: flex-start;
}
.frame1073 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  height: 452px;
  padding: var(--padding-base);
  align-items: center;
  font-size: var(--heading-5-size);
}
.frame1055,
.frame1080 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame1055 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--body-s-size);
}
.frame1080 {
  flex-direction: column;
  justify-content: center;
}
.text587 {
  position: relative;
  line-height: 110%;
  font-weight: 500;
}
.frame1083,
.frame1084 {
  align-self: stretch;
  display: flex;
}
.frame1084 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.frame1083 {
  flex: 1;
  background-color: var(--coolgray-10);
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame1086,
.frame1090 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
}
.frame1086 {
  display: flex;
  justify-content: flex-start;
}
.frame1090 {
  width: 100px;
  box-sizing: border-box;
}
.frame1082,
.frame1090,
.frame1108,
.frame1109 {
  display: flex;
  justify-content: flex-start;
}
.frame1082 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
}
.frame1108,
.frame1109 {
  flex-direction: column;
  align-items: flex-start;
}
.frame1108 {
  flex-direction: row;
  align-items: center;
}
.frame1106,
.frame1107 {
  align-self: stretch;
  display: flex;
}
.frame1107 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.frame1106 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-smi);
  color: var(--coolgray-90);
}
.text600 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.frame1110,
.frame1111 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame1111 {
  overflow: hidden;
  padding: var(--padding-xs);
}
.frame1110 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
}
.frame1131,
.frame1133 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame1131 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--coolgray-90);
}
.text646 {
  position: relative;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  width: 104px;
}
.frame1079,
.frame1081,
.frame1209 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame1209 {
  width: 88px;
  align-items: flex-start;
}
.frame1079,
.frame1081 {
  align-self: stretch;
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
}
.frame1081 {
  overflow: hidden;
  align-items: flex-start;
  font-size: var(--body-s-size);
  color: var(--coolgray-100);
  width: 1100px;
}
.frame1079 {
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--heading-6-size);
  width: 1109px;
}
.application-information1,
.frame1046 {
  height: 1024px;
  display: flex;
  align-items: flex-start;
}
.frame1046 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--heading-2-size);
  color: var(--coolgray-90);
}
.application-information1 {
  position: relative;
  background-color: var(--coolgray-10);
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--coolgray-60);
  font-family: var(--body-xs);
}


.menu_activate_text {
  color: black;
}

.selected {
  background-color: var(--coolgray-10);
  border-top: 3px solid var(--primary-90);
}
.menu_activate{
  background-color: var(--coolgray-10);
  border-top: 3px solid var(--primary-90);
  box-sizing: border-box;
  width: 445px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.menu_activate_icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.menu_current{
  border-top: 3px solid var(--primary-90);
  box-sizing: border-box;
  width: 445px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.menu_current_icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.menu_deactivate{
  border-top: 3px solid var(--primary-90);
  box-sizing: border-box;
  width: 445px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  display: flex;
  align-items: flex-start;
  display: flex;
  align-items: flex-start;
}

.menu_deactivate_icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

/* 테이블 전체 스타일 조정 */
#dic {
  width: 100%; /* Make the table fill its container */
  border-collapse: collapse;
  border: 1px solid #ccc;
}

/* 테이블 헤더 스타일 조정 */
.tabulator-col {
  background-color: var(--coolgray-10);
  font-weight: bold;
}

/* 테이블 셀 스타일 조정 */
.tabulator-row {
  background-color: #ffffff;
}

/* 홀수 행 배경색 변경 */
.tabulator-row:nth-child(odd) {
  background-color: #f5f5f5;
}

/* 선택된 행 스타일 변경 */
.tabulator-row.tabulator-selected {
  background-color: #c3d5e4;
}
 