.text792 {
  position: relative;
  line-height: 110%;
}
.frame1447 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame1445,
.frame1446 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1445 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.frame-icon97 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame1448,
.setting10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.setting10 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.frame1448 {
  align-self: stretch;
}
.text793 {
  flex: 1;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 100%;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--coolgray-90);
  text-align: left;
}
.menu-0110 {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text794 {
  flex: 1;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 100%;
  font-family: var(--body-xs);
  color: var(--coolgray-90);
  text-align: left;
}
.menu-0210 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.menu-0210,
.menu-0310 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.frame1444,
.frame1449 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame1449 {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
}
.frame1444 {
  background-color: var(--default-white);
  border-right: 1px solid var(--coolgray-20);
  border-left: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 15%;
  height: 1024px;
  padding: var(--padding-5xl) var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.text797 {
  align-self: stretch;
  font-size: var(--heading-2-size);
}
.text797,
.text798,
.total-application {
  position: relative;
  line-height: 110%;
}
.text798 {
  align-self: stretch;
  font-size: 27px;
}
.total-application {
  flex: 1;
}
.total-application-rate {
  position: relative;
  line-height: 140%;
}
.frame1454,
.frame1455 {
  flex-direction: row;
  align-items: center;
}
.frame1455 {
  border-radius: var(--br-xs);
  background-color: var(--coolgray-10);
  display: flex;
  padding: var(--padding-11xs) var(--padding-xs);
  justify-content: center;
  text-align: center;
  font-size: var(--body-s-size);
}
.frame1454 {
  align-self: stretch;
  gap: var(--gap-5xs);
  font-size: var(--heading-4-size);
  color: var(--coolgray-90);
}
.frame1452,
.frame1453,
.frame1454,
.info-01 {
  display: flex;
  justify-content: flex-start;
}
.frame1453 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.frame1452,
.info-01 {
  align-items: center;
}
.frame1452 {
  align-self: stretch;
  flex-direction: row;
}
.info-01 {
  flex: 1;
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  flex-direction: column;
  padding: var(--padding-base);
}
.frame1451,
.frame1459 {
  display: flex;
  flex-direction: row;
}
.frame1459 {
  border-radius: var(--br-xs);
  background-color: var(--coolgray-60);
  padding: var(--padding-11xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--body-s-size);
  color: var(--default-white);
}
.frame1451 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--coolgray-60);
}
.text803 {
  align-self: stretch;
  position: relative;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
}
.cspft {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.p14 {
  margin: 0;
}
.text804 {
  align-self: stretch;
  position: relative;
  font-size: 35px;
  line-height: 110%;
  color: var(--coolgray-90);
}
.frame1471 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text805 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-6-size);
  line-height: 140%;
  color: var(--coolgray-90);
}
.frame1469 ,
.frame1470 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1470 {
  align-self: stretch;
  gap: var(--gap-29xl);
}
.frame1469 {
  flex: 1;
  padding: var(--padding-13xl) 0;
}
.frame-icon102 {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame1468,
.frame1474 {
  align-self: stretch;
  display: flex;
}
.frame1468 {
  background-color: var(--default-white);
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  font-size: var(--heading-5-size);
  color: var(--primary-90);
}
.frame1474 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--heading-6-size);
}
.tier-01 {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 100px;
  flex-shrink: 0;
}
.frame1475 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.name-01 {
  text-align: left;
}
.label-016,
.name-01,
.score-01 {
  position: relative;
  line-height: 140%;
}
.score-01 {
  display: inline-block;
  width: 64px;
  flex-shrink: 0;
}
.label-016 {
  color: var(--coolgray-60);
}
.frame1476,
.rank-01 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame1476 {
  justify-content: flex-end;
  gap: var(--gap-base);
}
.rank-01 {
  align-self: stretch;
  justify-content: space-between;
}
.frame1473,
.frame1486 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.frame1473 {
  flex: 1;
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame1486 {
  align-items: flex-start;
  justify-content: center;
}
.vector-icon4 {
  position: relative;
  width: 30.4px;
  height: 32px;
}
.frame1489 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.group-icon2 {
  position: relative;
  width: 33.16px;
  height: 32px;
}
.frame1488 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.group-icon3,
.vector-icon5 {
  position: relative;
  width: 32px;
  height: 32px;
}
.group-icon3 {
  width: 55.81px;
}
.group-icon4,
.vector-icon6 {
  position: relative;
  width: 23.75px;
  height: 29.2px;
}
.vector-icon6 {
  width: 21.03px;
  height: 32px;
}
.waves {
  line-height: 110%;
}
.marathon {
  line-height: 140%;
}
.text813 {
  position: relative;
}
.frame1496 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--heading-6-size);
}
.frame1485,
.frame1487 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame1487 {
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--heading-4-size);
  color: var(--coolgray-60);
}
.frame1485 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  padding: var(--padding-base);
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--heading-6-size);
}
.frame1472 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl);
  text-align: right;
}
.dashboard,
.frame1450,
.frame1472 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1450 {
  flex: 1;
  width: 85%;
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: var(--gap-5xl);
  font-size: var(--button-m-size);
  color: var(--coolgray-90);
}
.dashboard {
  position: relative;
  background-color: var(--coolgray-10);
  width: 100%;
  height: 100%;
  flex-direction: row;
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--coolgray-60);
  font-family: var(--body-xs);
}