.text2 {
  position: relative;
  line-height: 110%;
}
.frame8 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame6,
.frame7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame6 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.frame-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame9,
.setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.setting {
  height: 48px;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  cursor: pointer;
}
.frame9 {
  align-self: stretch;
}
.text3 {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.menu-01 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text4 {
  flex: 1;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 100%;
  font-family: var(--body-xs);
  color: var(--coolgray-90);
  text-align: left;
}
.menu-02 {
  border: 0;
  background-color: transparent;
  border-left: 2px solid var(--coolgray-10);
}
.menu-02,
.menu-03,
.menu-04 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.menu-04 {
  background-color: var(--coolgray-10);
}
.frame10,
.frame5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame10 {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
  font-size: var(--button-m-size);
  color: var(--coolgray-90);
}
.frame5 {
  background-color: var(--default-white);
  border-right: 1px solid var(--coolgray-20);
  border-left: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 256px;
  height: 1024px;
  padding: var(--padding-5xl) var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.text7,
.text8 {
  position: relative;
}
.text7 {
  align-self: stretch;
  line-height: 110%;
}
.text8 {
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
}
.frame14,
.label-01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.label-01 {
  align-self: stretch;
  padding: var(--padding-base) 0;
  cursor: pointer;
  color: var(--color-black);
}
.text9 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
  cursor: pointer;
}
.label-02 {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: var(--color-black);
}
.label-02,
.label-03,
.label-06 {
  box-sizing: border-box;
  height: 48px;
  padding: var(--padding-base) 0;
  justify-content: center;
}
.label-03 {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.label-06 {
  border-bottom: 2px solid var(--primary-90);
  color: var(--primary-90);
}
.frame12,
.frame13,
.label-06 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame13 {
  width: 1136px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame12 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-20);
  justify-content: space-between;
  font-size: var(--button-m-size);
}
.frame22,
.frame24 {
  display: flex;
  justify-content: center;
}
.frame22 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--heading-6-size);
}
.frame24 {
  flex-direction: row;
  padding: var(--padding-xs) 0 0;
  align-items: center;
}
.text16 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 140%;
  color: var(--coolgray-60);
}
.frame25 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame23 {
  background-color: var(--coolgray-10);
}
.frame23,
.frame29 {
  border-top: 3px solid var(--primary-90);
  box-sizing: border-box;
  width: 445px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text21,
.text22 {
  align-self: stretch;
  position: relative;
}
.text21 {
  line-height: 110%;
  font-weight: 500;
}
.text22 {
  font-size: var(--body-xs-size);
  line-height: 140%;
}
.frame21,
.frame32,
.frame41 {
  display: flex;
  align-items: flex-start;
}
.frame32 {
  border-top: 3px solid var(--coolgray-30);
  box-sizing: border-box;
  width: 445px;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--coolgray-40);
}
.frame21,
.frame41 {
  flex-direction: column;
}
.frame21 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  padding: var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.frame41 {
  width: 348px;
  justify-content: flex-start;
}
.p {
  margin: 0;
}
.frame40,
.text26 {
  align-self: stretch;
}
.text26 {
  position: relative;
  font-size: var(--button-m-size);
  line-height: 140%;
}
.frame40 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-base) var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.instance-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 0;
}
.frame43 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.instance-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.text28 {
  position: relative;
  line-height: 140%;
}
.instance,
.instance1 {
  flex-direction: row;
  align-items: center;
}
.instance1 {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 24px;
  border-radius: var(--br-xs);
  background-color: var(--default-alert);
  display: none;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  justify-content: center;
  z-index: 3;
  text-align: center;
  font-size: var(--body-xs-size);
  color: var(--default-white);
}
.instance {
  flex: 1;
  height: 48px;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.frame38,
.frame39,
.frame42,
.instance {
  display: flex;
  justify-content: flex-start;
}
.frame42 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-base);
  align-items: flex-start;
  cursor: pointer;
  font-size: var(--button-m-size);
  color: var(--primary-60);
}
.frame38,
.frame39 {
  flex-direction: column;
}
.frame39 {
  flex: 1;
  width: 603px;
  align-items: flex-start;
}
.frame38 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  height: 452px;
  padding: var(--padding-base);
  align-items: center;
  font-size: var(--heading-5-size);
}
.frame20,
.frame45 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frame20 {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--body-s-size);
}
.frame45 {
  flex-direction: column;
  justify-content: center;
}
.text30 {
  position: relative;
  line-height: 110%;
  font-weight: 500;
}
.frame48,
.frame49 {
  align-self: stretch;
  display: flex;
}
.frame49 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
}
.frame48 {
  flex: 1;
  background-color: var(--coolgray-10);
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame51,
.frame55 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
}
.frame51 {
  display: flex;
  justify-content: flex-start;
}
.frame55 {
  width: 100px;
  box-sizing: border-box;
}
.frame47,
.frame55,
.frame72,
.frame73,
.frame74 {
  display: flex;
  justify-content: flex-start;
}
.frame47 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
}
.frame72,
.frame73,
.frame74 {
  flex-direction: column;
  align-items: flex-start;
}
.frame72,
.frame73 {
  flex-direction: row;
  align-items: center;
}
.frame72 {
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-xs);
}
.frame71,
.frame72,
.text43 {
  align-self: stretch;
}
.frame71 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-smi);
  color: var(--coolgray-90);
}
.text43 {
  position: relative;
  line-height: 140%;
}
.frame76 {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: center;
}
.frame75,
.frame76,
.frame96,
.frame98 {
  align-self: stretch;
  display: flex;
}
.frame75 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame96,
.frame98 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame96 {
  flex: 1;
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--coolgray-90);
}
.text89 {
  position: relative;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  width: 104px;
}
.frame174,
.frame46 {
  align-items: flex-start;
  justify-content: flex-start;
}
.frame174 {
  width: 88px;
  display: flex;
  flex-direction: column;
}
.frame46 {
  align-self: stretch;
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  overflow: hidden;
  font-size: var(--body-s-size);
  color: var(--coolgray-100);
}
.frame11,
.frame44,
.frame46 {
  display: flex;
  flex-direction: column;
}
.frame44 {
  align-self: stretch;
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--heading-6-size);
}
.frame11 {
  flex: 1;
  height: 1024px;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--heading-2-size);
  color: var(--coolgray-90);
}
.application-information6 {
  position: relative;
  background-color: var(--coolgray-10);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--coolgray-60);
  font-family: var(--body-xs);
}
