.text742 {
  position: relative;
  line-height: 110%;
}
.frame1387 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame1385,
.frame1386 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1385 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
}
.frame-icon89 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame1388,
.setting9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.setting9 {
  height: 48px;
  padding: var(--padding-base) var(--padding-xs);
  box-sizing: border-box;
  cursor: pointer;
}
.frame1388 {
  align-self: stretch;
}
.text743 {
  flex: 1;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 100%;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--coolgray-90);
  text-align: left;
}
.menu-019 {
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  cursor: pointer;
}
.text744 {
  flex: 1;
  position: relative;
  font-size: var(--button-m-size);
  line-height: 100%;
  font-family: var(--body-xs);
  color: var(--coolgray-90);
  text-align: left;
}
.menu-029 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs);
  background-color: var(--coolgray-10);
  align-self: stretch;
  border-bottom: 1px solid var(--coolgray-10);
  border-left: 2px solid var(--coolgray-10);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame1384,
.frame1389 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame1389 {
  align-self: stretch;
  flex: 1;
  justify-content: flex-start;
}
.frame1384 {
  background-color: var(--default-white);
  border-right: 1px solid var(--coolgray-20);
  border-left: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 256px;
  height: 1024px;
  padding: var(--padding-5xl) var(--padding-base);
  justify-content: center;
  gap: var(--gap-base);
}
.text747 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-2-size);
  line-height: 110%;
}
.frame1393 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--coolgray-90);
}
.frame-icon94 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.text749 {
  position: relative;
  line-height: 140%;
}
.frame1394,
.frame1395 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.frame1394 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--button-m-size);
}
.text751 {
  position: relative;
}
.frame1400 {
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.line13 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  height: 1px;
}
.frame1399,
.frame1401,
.frame1403,
.frame1405,
.frame1407,
.frame1409 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  z-index: 0;
}
.frame1401,
.frame1403,
.frame1405,
.frame1407,
.frame1409 {
  z-index: 1;
}
.frame1403,
.frame1405,
.frame1407,
.frame1409 {
  z-index: 2;
}
.frame1405,
.frame1407,
.frame1409 {
  z-index: 3;
}
.frame1407,
.frame1409 {
  z-index: 4;
}
.frame1409 {
  z-index: 5;
}
.frame-icon96 {
  position: absolute;
  margin: 0 !important;
  height: calc(100% - 84.3px);
  width: calc(100% - 50px);
  top: 34.01px;
  right: -3px;
  bottom: 50.29px;
  left: 53px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 6;
}
.frame1398 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.frame1411,
.frame1412 {
  display: flex;
  flex-direction: row;
}
.frame1412 {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.frame1411 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
  text-align: center;
}
.frame1397 {
  height: 257px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xs);
  text-align: right;
  font-size: var(--body-xs-size);
  font-family: var(--y-content);
}
.frame1391,
.frame1392,
.frame1397 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frame1392 {
  flex: 1;
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  flex-direction: column;
  padding: var(--padding-base);
  align-items: center;
  gap: var(--gap-base);
}
.frame1391 {
  flex-direction: row;
  align-items: flex-start;
  color: var(--coolgray-60);
}
.text769,
.text770 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.text770 {
  line-height: 140%;
  display: inline-block;
  width: 178.67px;
  flex-shrink: 0;
}
.frame1427 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--button-m-size);
  color: var(--coolgray-90);
}
.item-01,
.text773 {
  position: relative;
  line-height: 140%;
}
.item-01 {
  align-self: stretch;
  font-size: var(--body-s-size);
  color: var(--coolgray-90);
  display: inline-block;
  width: 178.67px;
  flex-shrink: 0;
}
.text773 {
  flex: 1;
}
.frame1428,
.input-01 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input-01 {
  flex: 1;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
}

.input-01 input[type="text"] {
  border: none; /* 테두리 선 제거 */
  background-color: 1px solid var(--coolgray-30); /* 배경색 회색으로 설정 */
  padding: 5px; /* 내부 여백 추가 */
  
  /* 추가로 원하는 스타일을 설정하세요 */
}
.frame1428 {
  height: 32px;
  align-items: flex-start;
  gap: var(--gap-base);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* 요소들을 수평으로 가운데로 정렬합니다 */
  gap: var(--gap-5xs);
  font-size: var(--body-s-size);
  color: var(--coolgray-90);
}


.checkbox-container {
  display: flex;
  align-items: center;
}

.frame1434 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px solid var(--coolgray-100);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.frame1434.checked {
  background-color: black;
}

.frame1435 {
  border: 1px solid var(--coolgray-100);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.text784 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 30px;
  font-weight: 800;
  background-color: var(--primary-60);
  color:azure;
}
.frame1437 {
  padding: 0 var(--padding-base);
}
.button-01,
.button-02,
.frame1436,
.frame1437 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.button-01 {
  background-color: var(--primary-80);
  border: 2px solid var(--primary-60);
  box-sizing: border-box;
  height: 80px;
  padding: var(--padding-base) var(--padding-xs);
}
.button-02,
.frame1436 {
  align-self: stretch;
}
.button-02 {
  background-color: var(--coolgray-10);
  border: 2px solid var(--coolgray-10);
  padding: var(--padding-base) var(--padding-xs);
  color: var(--color-black);
}
.frame1436 {
  gap: var(--gap-base);
  font-size: 35px;
  color: var(--default-white);
}
.frame1425,
.frame1426 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame1426 {
  flex: 1;
  width: 616px;
  padding: 0 var(--padding-5xl);
  font-size: var(--body-xs-size);
  color: var(--coolgray-60);
}
.frame1425 {
  display: flex;
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  height: 518px;
  padding: var(--padding-base);
  justify-content: center; /* Center contents vertically */
  align-items: center; /* Center contents horizontally */
}
.boolean-operation-icon,
.boolean-operation-icon1 {
  position: relative;
  border-radius: var(--br-xl);
  width: 256px;
  height: 213.5px;
}
.boolean-operation-icon1 {
  margin: 0 !important;
  width: 218.28px;
  height: 207.43px;
}
.frame1441 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-3-size);
  color: var(--coolgray-60);
}
.frame1442 {
  font-size: var(--heading-4-size);
}
.frame1442,
.frame1443 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame1424,
.frame1440 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.frame1440 {
  flex: 1;
  background-color: var(--default-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame1424 {
  flex-direction: row;
}
.frame1390,
.frame1424,
.record {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame1390 {
  width: 1184px;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  font-size: var(--heading-6-size);
  color: var(--coolgray-90);
}
.record {
  position: relative;
  background-color: var(--coolgray-10);
  width: 100%;
  height: 1024px;
  flex-direction: row;
  text-align: left;
  font-size: var(--heading-4-size);
  color: var(--coolgray-60);
  font-family: var(--body-xs);
}
.frame1433 {

  display: flex;
  flex-direction: row;

  height: 32px;
  width: 568px;
  gap: var(--gap-base);
  align-items: center;
  justify-content: center; /* 요소들을 수평으로 가운데로 정렬합니다 */
}



.frame1434.checked {
  background-color: black;
}
