.text497 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.frame957 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text498 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-6-size);
  line-height: 140%;
}
.frame956 {
  width: 527px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text499,
.text500 {
  position: relative;
  line-height: 140%;
}
.text499 {
  align-self: stretch;
}
.text500 {
  flex: 1;
}
.frame-icon35 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame960,
.frame961 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame961 {
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 48px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  font-size: var(--button-m-size);
  color: var(--coolgray-60);
}
.frame960 {
  flex-direction: column;
  align-items: flex-start;
}
.text501 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 140%;
  color: var(--coolgray-60);
  display: none;
}
.frame959 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-icon36 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text505 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
}
.frame965,
.frame966 {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-base);
  align-items: center;
  justify-content: center;
}
.frame965 {
  align-self: stretch;
  background-color: var(--primary-60);
  border: 2px solid var(--primary-60);
  box-sizing: border-box;
  height: 48px;
  padding: var(--padding-base) var(--padding-xs);
  font-size: var(--button-m-size);
  color: var(--default-white);
}
.frame955,
.frame958,
.reset-password-change {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame958 {
  align-self: stretch;
  padding: var(--padding-5xl) 0 0;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--body-s-size);
}
.frame955,
.reset-password-change {
  justify-content: center;
}
.frame955 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 680px;
  padding: var(--padding-61xl);
  gap: var(--gap-5xl);
}
.reset-password-change {
  position: relative;
  background-color: var(--coolgray-10);
  width: 100%;
  height: 1024px;
  text-align: center;
  font-size: var(--heading-2-size);
  color: var(--coolgray-90);
  font-family: var(--body-xs);
}
