.text521 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.frame990 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.text522 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-6-size);
  line-height: 140%;
}
.frame989 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--heading-2-size);
}
.text523 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 140%;
}
.icon-jam-icons-outline-logos-c1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.field1,
.frame992,
.open {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.field1 {
  background-color: var(--default-white);
  border-bottom: 1px solid var(--primary-60);
  box-sizing: border-box;
  width: 200px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.frame992,
.open {
  flex-direction: column;
}
.frame992 {
  justify-content: center;
  z-index: 0;
  font-size: var(--button-m-size);
  color: var(--color-dodgerblue);
}
.text524,
.text525 {
  position: relative;
  line-height: 140%;
}
.text524 {
  align-self: stretch;
}
.text525 {
  flex: 1;
}
.frame994,
.frame995,
.name {
  display: flex;
  justify-content: flex-start;
}
.name {
  align-self: stretch;
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 48px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  font-size: var(--button-m-size);
  color: var(--coolgray-60);
}
.frame994,
.frame995 {
  flex-direction: column;
  align-items: flex-start;
}
.frame995 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.frame994 {
  flex: 1;
}
.text526 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  z-index: 0;
}
.ellipse4 {
  position: relative;
  border-radius: 50%;
  background-color: var(--primary-60);
  width: 8px;
  height: 8px;
}
.controlsvariant42,
.frame998 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame998 {
  border-radius: var(--br-14xl);
  border: 1px solid var(--primary-60);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  flex-direction: column;
}
.controlsvariant42 {
  position: absolute;
  height: 41.67%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 0;
  flex-direction: row;
}
.ellipse5 {
  position: relative;
  border-radius: 50%;
  background-color: var(--primary-60);
  width: 8px;
  height: 8px;
  opacity: 0;
}
.controlsvariant32 {
  position: absolute;
  height: 41.67%;
  width: 100%;
  top: 58.33%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.check-cir {
  position: relative;
  width: 20px;
  height: 48px;
  z-index: 1;
}
.text527 {
  position: relative;
  line-height: 140%;
}
.frame1000 {
  margin: 0 !important;
  position: absolute;
  top: 28px;
  left: 18px;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}
.frame1000,
.frame1001,
.frame993,
.frame997 {
  display: flex;
  justify-content: flex-start;
}
.frame1001 {
  margin: 0 !important;
  position: absolute;
  top: 56.5px;
  left: 18px;
  flex-direction: row;
  align-items: center;
  z-index: 3;
}
.frame993,
.frame997 {
  align-self: stretch;
  align-items: flex-start;
}
.frame997 {
  flex-direction: column;
  position: relative;
  gap: var(--gap-5xs);
}
.frame993 {
  flex-direction: row;
  gap: var(--gap-base);
  z-index: 1;
}
.frame-icon44 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frame1002,
.weight {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.weight {
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  height: 48px;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--button-m-size);
  color: var(--coolgray-60);
}
.frame1002 {
  align-items: flex-start;
  gap: var(--gap-base);
  z-index: 2;
}
.text535 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 140%;
  color: var(--coolgray-60);
  display: none;
}
.frame1007,
.frame1009,
.frame1011 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 3;
}
.frame1009,
.frame1011 {
  z-index: 4;
}
.frame1011 {
  z-index: 5;
}
.frame1013 {
  width: 162px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
}
.text543 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
}
.frame1015 {
  padding: 0 var(--padding-base);
}
.frame1014,
.frame1015,
.generate-account-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.generate-account-button {
  flex: 1;
  background-color: var(--primary-60);
  border: 2px solid var(--primary-60);
  box-sizing: border-box;
  height: 48px;
  padding: var(--padding-base) var(--padding-xs);
}
.frame1014 {
  align-self: stretch;
  z-index: 7;
  font-size: var(--button-m-size);
  color: var(--default-white);
}

.frame1016 {
  border: 1px solid var(--coolgray-100);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.check-box {
  margin: 0 !important;
  position: absolute;
  top: 526px;
  left: 154px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 8;
}
.frame991 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
}
.frame991,
.line,
.sign-in {
  align-self: stretch;
  position: relative;
}
.line {
  border-top: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  height: 1px;
}
.sign-in {
  text-decoration: underline;
  line-height: 140%;
  color: var(--primary-90);
  cursor: pointer;
}
.frame988,
.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame988 {
  background-color: var(--default-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 680px;
  height: 979px;
  padding: var(--padding-61xl) var(--padding-61xl) var(--padding-13xl);
  gap: var(--gap-5xl);
}
.sign-up {
  position: relative;
  background-color: var(--coolgray-10);
  width: 100%;
  height: 1024px;
  text-align: center;
  font-size: var(--body-s-size);
  color: var(--coolgray-90);
  font-family: var(--body-xs);
}
